/* HTML AND BODY CSS */
html {

    background-image: url("bullsBackground.png");

    height: 100%;
    width: 100%;

    background-color: rgb(0, 0, 0);

    background-position: center;
    background-repeat: no-repeat;

    /* always ensures background takes full screen */
    background-size: 100% 100%;

    background-attachment: fixed;

    filter: brightness(60%);
    
}

body {
    height: 100%;
    width: 100%;
}

body h1 {
    text-align: center;
}

body h1 img {
    width: 80%;
    filter: brightness(180%);
}

/* HTML AND BODY CSS */

/* bullsPieces CSS */

.bullsPieces {
    height: fit-content;
    text-align: center;
}

.bullsPieces div {
    margin-bottom: 3%;
}

.bullsPieces button {
    margin-right: 7%;
    background-color: transparent;
    border: none;
}

.bullsPieces button img {
    height: 100%;
}

/* bullsPieces CSS */

/* bullsLegends CSS */

