body {
    background-image: url("animated.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body h1 {
    text-align: center;
}

.buttons button {
    border: none;
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: transparent;
    margin-left:15px; 
    margin-right: 15px;
}

.buttons button img {
    width: 250px;
    height: 250px;
}

#backgroundVideo {
    position: fixed;
    border: 0px transparent;
    min-width: 100%;
    min-height: 100%
}




