body {
    background-image: url("animated.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header h1 {
    text-align: center;
}

body button {
    border: none;
    margin: 0px px;
    padding: 0px 0px;
    background-color: transparent;
}



#backgroundVideo {
    position: fixed;
    border: 0px transparent;
    min-width: 100%;
    min-height: 100%
    
}

