html {

    background-image: url("lakersFinalBackground.png");

    height: 100%;
    width: 100%;

    background-color: rgb(0, 0, 0);

    background-position: center;
    background-repeat: no-repeat;

    /* always ensures background takes full screen */
    background-size: 100% 100%;

    background-attachment: fixed;

    filter: brightness(60%);

    overflow-x: hidden;
    
}

body {
    height: 100%;
    width: 100%;
}

.lakersPieces {
    
    /* for horizontal scroll bar */
    width: 100%;
    height: 40%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    position: fixed;
    bottom: 0%;
    left: 0%;
    outline: none;
    -webkit-overflow-scrolling:touch;
    
}


.lakersPieces a {
    background-color: transparent;
    outline: none;
    padding: none;
    border: none;
    height: 100%;
    width: 20%;

}

.lakersPieces button {
    height: 100%;
    width: 20%;
    background-color: transparent;
    border: none;
}

.lakersPieces button img{
    border: none;
    margin: 0% 0%;
    padding: 0% 0%;
    background-color: transparent;
    text-align: center;
    height: 100%;
    width: 100%;

}

#wiltButton {
    margin-right: 4%;
}

#lebronButton {
    margin-right: 5%;
}

#lebronButton img{
    width: 60%;
}

