html {

    background-image: url("lakersFinalBackground.png");

    height: 100%;
    width: 100%;

    background-color: rgb(0, 0, 0);

    background-position: center;
    background-repeat: no-repeat;

    /* always ensures background takes full screen */
    background-size: 100% 100%;

    background-attachment: fixed;

    filter: brightness(60%);
    
}

.lakersPieces {
    
    /* for horizontal scroll bar */
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    position: absolute;
    bottom: 10%;
    outline: transparent;
}

.lakersGoats button {
    background-color: transparent;
    outline: 0 !important;
    padding: 0%;
    border: 0%;
}

.lakersGoats button img{
    border: none;
    margin: 0% 0%;
    padding: 0% 0%;
    background-color: transparent;
    text-align: center;
    height: 400px;
    width: 400px;
}

