/* master css file for transition effects for all webpages */
/* got the code from this youtube link: 'https://www.youtube.com/watch?v=zWB219zf1og' */

body {
    animation: transitionIn 1.5s
}

@keyframes transitionIn {
    
    from {
        opacity: 0;
        transform: rotateX(-20deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.preloader {

    /* with these 2 properties, preloader is on top of everything else */
    position: fixed;
    z-index: 99;

    /* ensures that starting position is on top left corner of the window */
    top: 0;
    left: 0;

    /* to ensure full width and full height */
    height: 100%;
    width: 100%;

    /* black background */
    background-color: black;

    /* to center preloader */
    display: flex;
    justify-content: center;
    align-items: center;
}


.preloader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}


@keyframes fadeOut {
    
    100% {
        opacity: 0;
        visibility: hidden;
    }
    
}