body {
    background-image: url("inurudumBackground.png");

    height: 100%;
    margin: 0;

    background-position: center;
    background-repeat: no-repeat;

    background-size: 100% 100%;

    background-attachment: fixed;

    text-align: center;

    
    
}


.container {
    width: 100%;
    text-align: center;
}

h1, h2{
    width: 90%;
    margin: auto;
}

button {
    border: none;
    padding-top: auto;
    background-color: transparent;
    margin: auto;
}


