body{
    margin: 0;
    text-align: center;
    background-image: url("inurudumBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body h1, h2{
    margin: 0%;
}

body ul{
    list-style-type: none;
    padding: 0px;
    line-height: 35px;
    font-size: 20px; 
}

header{
    background-color: transparent;
    text-align: center;
}



button {
    border: none;
    margin: 0px px;
    padding: 0px 0px;
    background-color: transparent;
}


