html {
    height: 100%;
}

body {
    background-image: url("inurudumBackground.png");

    height: 100%;
    margin: 0%;

    background-position: center;
    background-repeat: no-repeat;

    background-size: 100% 100%;

    background-attachment: fixed;

    text-align: center;   
    
}

.container-fluid {
    height: 100%;
    text-align: center;
    margin: auto;
}

h1 img {

    width: 80%;
    height: 100%;
    margin: 0% 0%;
    text-align: center;

}
h2 img{
    width: 70%;
    height: 100%;
    margin: 0% 0%;
    text-align: center;
}

h1, h2 {
    margin: 0% 0%;
}

button {
    border: none;
    padding-top: auto;
    background-color: transparent;
}


